@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins-sans);
}

.menuCarousel.carousel-root {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menuCarousel.carousel-root .carousel {
  width: auto;
}
.menuCarousel.carousel-root .carousel.carousel-slider {
  width: 100%;
}
.menuCarousel.carousel-root .carousel.carousel-slider .slider-wrapper {
  border-radius: 10px;
}
.menuCarousel.carousel-root .carousel .thumbs-wrapper {
  margin: 0;
}
.menuCarousel.carousel-root .carousel .thumbs.animated {
  display: flex;
  flex-direction: row;
}
.menuCarousel.carousel-root .carousel .thumb {
  height: 60px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.menuCarousel.carousel-root .carousel .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.menuCarousel.carousel-root .carousel .thumb:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
}
.menuCarousel.carousel-root .carousel .thumb.selected,
.menuCarousel.carousel-root .carousel .thumb:hover {
  border: 0;
}
.menuCarousel.carousel-root .carousel .thumb:hover:after,
.menuCarousel.carousel-root .carousel .thumb.selected:after {
  opacity: 0.2;
}
.menuCarousel .control-arrow {
  display: none;
}
@media screen and (max-width: 767px) {
  .menuCarousel.carousel-root {
    gap: 0;
  }
  .menuCarousel.carousel-root .carousel .thumb {
    border: 0;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .menuCarousel.carousel-root .carousel .thumbs {
    transform: none !important;
    flex-direction: column;
    display: flex;
    gap: 10px;
  }
  .menuCarousel.carousel-root .carousel .thumb {
    border: 0;
    padding: 0;
    margin: 0;
  }
}

.markdown ul {
  list-style-type: disc;
  padding-left: 20px;
}

.markdown ul li {
  margin: 10px 0;
}

.markdown ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.carousel .slide:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
}

@media (max-width: 767px) {
  .markdown ul li {
    margin: 5px 0;
  }
}
