@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins-sans);
}

.markdown ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.markdown ul li {
  margin: 10px 0;
}

.markdown ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}
